{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<header>
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="">
        <span>Task Manager</span>
    </div>

    <nav>
        <a href="{% url 'dashboard' %}" class="btn-outline">Dashboard</a>
        <a href="{% url 'tasks' %}" class="btn-primary">Tasks</a>
        <a href="{% url 'logout' %}" class="btn-outline">Logout</a>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    © 2025 Task Manager. All rights reserved.
</footer>

</body>
</html>
